
$red: #f53137;
$blue: rgba(4, 144, 215, 1);
$green: #37bc9b;
$yellow: rgba(255, 236, 64, 1);
$deep_yellow: rgba(230, 162, 60, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(187, 187, 187, 1);
$deep_black: #333333;
$black: #666666;
$light_black: #999999;

$theme_color: #ed1c24;
$theme_sub_color: #f56271;
$border_color: #e5e5e5;
